<section class="user-basic-info widget-box transparent span6">
  <section class="widget-header">
    <h4 class="lighter">Basic Information</h4>
  </section>
  <section class="widget-body profile-user-info">
    <section class="profile-info-row">
      <section class="profile-info-name">
        Birth Date
      </section>
      <section class="profile-info-value">
        <span>{{birthDate}}</span>
      </section>
    </section>
    <section class="profile-info-row">
      <section class="profile-info-name">
        Gender
      </section>
      <section class="profile-info-value">
        <span>{{gender}}</span>
      </section>
    </section>
    <section class="profile-info-row">
      <section class="profile-info-name">
        Religious Views
      </section>
      <section class="profile-info-value">
        <span>{{religiousViews}}</span>
      </section>
    </section>
    <section class="profile-info-row">
      <section class="profile-info-name">
        Political Views
      </section>
      <section class="profile-info-value">
        <span>{{politicalViews}}</span>
      </section>
    </section>
    <section class="profile-info-row">
      <section class="profile-info-name">
        Looking For
      </section>
      <section class="profile-info-value">
        <span>{{lookingFor}}</span>
      </section>
    </section>
    <section class="profile-info-row">
      <section class="profile-info-name">
        Interested In
      </section>
      <section class="profile-info-value">
        <span>{{interestedIn}}</span>
      </section>
    </section>
  </section>
</section>
