{{#with controllers.user}}
<article class="info-page">
  <section class="page-header info-header">
    <h1>Info</h1>
    {{#if isCurrentUser}}
    {{#if isEditingInfo}}
    <button class="btn" {{action "doneEditingInfo"}}>Save</button>
    {{else}}
    <button class="btn" {{action "editInfo"}}>Edit</button>
    {{/if}}
    {{/if}}
  </section>
  <section class="info-body">
    <section class="row-fluid">
      {{partial 'user/basic_info'}}
      {{partial 'user/favorite_quotes'}}
    </section>
    <section class="row-fluid">
      {{partial 'user/about'}}
    </section>
  </section>
</article>
{{/with}}
