<section class="user-small row-fluid">
  <section class="span4">
    <img class="profile-picture-small" {{bindAttr src="profilePictureUrlBig"}} alt="name">
  </section>
  <section class="span4">
    <section class="user-name">
      <h4>
        {{#linkTo 'user' this}}{{name}}{{/linkTo}}
      </h4>
    </section>
    <section class="number-of-friends">
      {{#linkTo 'user.friends' this}}
      {{numFriends}} Friends
      {{/linkTo}}
    </section>
  </section>
  <section class="friend-buttons span4">
    {{#if isCurrentUser}}
    {{else}}
    {{#if isFriend}}
    <button class="btn btn-small btn-danger remove-from-friends" {{action "removeFriend"}}>
      Remove Friend
    </button>
    {{else}}
    {{#if isFriendRequestSender}}
    <button class="btn btn-small btn-success accept-friend-request" {{action "acceptFriendRequest"}}>
      Accept Friend Request
    </button>
    <button class="btn btn-small btn-danger reject-friend-request" {{action "rejectFriendRequest"}}>
      Reject Friend Request
    </button>
    {{else}}
    {{#if isFriendRequestRecipient}}
    <button class="btn btn-small btn-danger cancel-friend-request" {{action "cancelFriendRequest"}}>
      Cancel Friend Request
    </button>
    {{else}}
    <button class="btn btn-small btn-success send-friend-request" {{action "addFriend"}}>
      Add Friend
    </button>
    {{/if}}
    {{/if}}
    {{/if}}
    {{/if}}
  </section>
</section>
