<article class="photo-page">
  <section class="photo-body container">
    <section class="photo-picture">
      <img {{bindAttr src="pictureUrlBig"}}>
    </section>
    <section class="head clearfix">
      <section class="picture">
        {{#with album.user}}
        <img class="profile-picture-tiny" {{bindAttr src="profilePictureUrlSmall"}}>
        {{/with}}
      </section>
      <section class="poster-info">
        {{#with album.user}}
        <section class="author-and-user">
          <!-- linkTo causes error so use manual anchor tag instead -->
          <a {{bindAttr href="urlHack"}}>{{name}}</a>
        </section>
        {{/with}}
        <section>
          <time>{{createdAt}}</time>
        </section>
      </section>
    </section>
    <section class="description">
      {{description}}
    </section>
    <section class="comments">

    </section>
  </section>
</article>
