<section class="photo-block">
  <img class="cover-picture" {{bindAttr src="coverPictureUrl"}} alt="Cover Picture">
  <img class="profile-picture" {{bindAttr src="profilePictureUrlBig"}} alt="Profile Picture">
  <h2>
    {{#linkTo 'user' model class="name-link"}}{{name}}{{/linkTo}}
  </h2>
</section>
<section class="content-block widget-box">
  <section class="widget-header clearfix">
    <section class="widget-toolbar no-border profile-tab-group">
      <ul class="nav nav-tabs">
        <li>
          <a href="#">Timeline</a>
        </li>
        <li>
          {{#linkTo 'user.info' model}}About{{/linkTo}}
        </li>
        <li>
          {{#linkTo 'user.friends' model}}Friends{{/linkTo}}
        </li>
        <li>
          <a href="#">Pictures</a>
        </li>
        {{#if isCurrentUser}}
        <li>
          {{#if isEditingPictures}}
          <a href="#" {{action "doneEditingPictures"}}>Done Editing</a>
          {{else}}
          <a href="#" {{action "editPictures"}}>Edit Pictures</a>
          {{/if}}
        </li>
        {{/if}}
      </ul>
    </section>
  </section>
  {{#if isEditingPictures}}
  <section class="widget-body">
    {{partial 'profile_picture'}}
  </section>
  {{/if}}
  <section class="widget-body">
    {{outlet}}
  </section>
</section>
